@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 15pt 'Orbitron', sans-serif;
    color: black;

}

section {
    width: 500px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
}


div img {
    border-radius: 50%;
    margin: 20px;
} 

header {
    padding: 30px;
}

footer {
    padding: 20px;
}

.efeito-vidro {
    background: rgba(255, 255, 255, 0.726);
    box-shadow: 0 8px 32px 0 rgba(223, 223, 233, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }